
@{
    ViewBag.Title = "ControlPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="header-content mt-4">Control-Panel</h2>
<hr />

<div class="container">
    <div class="row">
        <div class="col-lg-4 mt-2 mb-2">
            <div class="card text-center">
                <a href="#"><i class="fa fa-truck fa-4x p-2" aria-hidden="true"></i></a>
                <div class="card-body">
                    <p class="card-text">Truck Inventory</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-2 mb-2">
            <div class="card text-center">
                <a href="#"><i class="fa fa-envelope fa-4x p-2" aria-hidden="true"></i></a>
                <div class="card-body">
                    <p class="card-text">Check Messages</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-2 mb-2">
            <div class="card text-center">
                <a href="#"><i class="fa fa-address-book fa-4x p-2" aria-hidden="true"></i></a>
                <div class="card-body">
                    <p class="card-text">Customer Directory</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-2 mb-2">
            <div class="card text-center">
                <a href="#"><i class="fa fa-user-circle fa-4x p-2" aria-hidden="true"></i></a>
                <div class="card-body">
                    <p class="card-text">Technician Support</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-2 mb-2">
            <div class="card text-center">
                <a href="#"><i class="fa fa-calendar fa-4x p-2" aria-hidden="true"></i></a>
                <div class="card-body">
                    <p class="card-text">Calendar Tool</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-2 mb-2">
            <div class="card text-center">
                <a href="#"><i class="fa fa-calculator fa-4x p-2" aria-hidden="true"></i><a>
                <div class="card-body">
                    <p class="card-text">Calculator Tool</p>
                </div>
            </div>
        </div>
    </div>
</div>


